{% extends '_templates/base.njk' %}

{% block content %}
<article class="container">
  <h1>Discography of the Band</h1>
  <p>15 studio albums. 6 number one hits. Here lies all that Queen has accomplished throughout their career.</p>
  <ul class="list-unstyled">
  <li class="media">
    <img class="mr-3" src="..." alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1">List-based media object</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
  <li class="media my-4">
    <img class="mr-3" src="..." alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1">List-based media object</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
  <li class="media">
    <img class="mr-3" src="..." alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1">List-based media object</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
</ul>
{% for discs in queen.discography %}
  <div class="col-sm-6">
    <ul class="list-unstyled">
    <li class="card">
      <img src="img/discs/{{ image }} class="mr-3" alt="album">
      <div class="media-body">
        <h5 class="card-title">{{ discography.title }}</h5>
        <p class="card-body"{{ discography.year }} </p>
      </div>
    </div>
    </div>
  </div>

{% endfor %}

</article>
{% endblock %}