{% extends '_templates/base.njk' %}

{% block page_title %}Home Page{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Why Queen?</h1>
      <p>A British rock band formed in the 1970s with hits like "We Will Rock You" and "We Are The Champions". Anthems were produced. Stadiums were sold out. See why Queen was once one of the biggest rock bands in the world.</p>
    </div>
  </div>
</div>
{% endblock %}